@font-face {
font-family: 'Roboto';
src: url('img/Roboto-Black.ttf') format('truetype');
font-weight: 900;
font-style: normal;
 }

@font-face {
font-family: 'Roboto';
src: url('img/Roboto-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (orientation:portrait) {
  .header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

@media all and (orientation:landscape) {
  .header {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.btn {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.clear {
  height: 100%;
  width: 10%;
}

.btn.run {
  height: 100%;
  width: 10%;
  margin-left: auto;
}

.img {
  height: 50%;
  width: auto;
}

.btn.close {
  height: 100%;
  width: 10%;
}

.fullscreen {
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;

    text-transform: uppercase;
}

.input {
  font-size: 3em;
  line-height: 1;
  width: 94%;
  height: 50%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 0.75;
}