.main {
  position: fixed;
  height: 100%;
  width: 100%;
}

.header {
  position: fixed;
  height: 90%;
  width: 100%;
}

.btn {
  position: fixed;
  font-size: large;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.clear {
  left: 1%;
}

.btn.run {
  right:1%;
}

.btn.close {
  right:1%;
}

.fullscreen {
    position: fixed;
    text-align: center;
    display: flex;
    align-content: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.input {
  position: fixed;
  top: 10%;
  left: 3%;
  font-size: 3em;
  line-height: 1;
  width: 94%;
  height: 90%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 0.75;
}